<h1 appMarcaTexto corDeFundo="red" corDoTexto="blue" class="text-center">Olá Angular</h1>


<!-- Diretivas de Atributos: -->

  <!-- Ng Style & Ng Class -->
  <div
    [ngStyle]="{ background: count < 5 ? 'red' : 'green'}"
    [ngClass]="{custom: count > 5}"
  >
    <h2 appMarcaTexto class="text-center">Contador: {{count}}</h2>
</div>


<br>
<!-- Diretivas Estruturais -->

  <!-- Ng IF -->
  <h2 *ngIf="count > 7; else menor" class="text-center">O contador passou de 7</h2>
  <!-- por debaixo dos panos, o * representa:
  <ng-template [ngIf]="count > 7">
  -->

  <!-- Ng Template -->
  <ng-template #menor>
    <h2>O contador é menor que 7</h2>
  </ng-template>

  <!-- Ng Switch -->
  <ul [ngSwitch]="count" class="list-group mx-auto col-6">

  <li class="list-group-item" *ngSwitchDefault>
    DEFAULT
   </li>
  <li class="list-group-item" *ngSwitchCase="1">
   É igual a 1
  </li>
  <li class="list-group-item" *ngSwitchCase="2">
   É igual a 2
  </li>
  <li class="list-group-item" *ngSwitchCase="3">
   É igual a 3
  </li>
  <li class="list-group-item" *ngSwitchCase="4">
   É igual a 4
  </li>
  <li class="list-group-item" *ngSwitchCase="5">
   É igual a 5
  </li>
  <li class="list-group-item" *ngSwitchCase="6">
   É igual a 6
  </li>
  <li class="list-group-item" *ngSwitchCase="7">
   É igual a 7
  </li>
  <li class="list-group-item" *ngSwitchCase="8">
   É igual a 8
  </li>
  <li class="list-group-item" *ngSwitchCase="9">
   É igual a 9
  </li>
  <li class="list-group-item" *ngSwitchCase="10 ">
   É igual a 10 
  </li>
</ul>

<br> <br>
  <!-- Ng FOR -->
  <app-list-people></app-list-people>
<!--   
  <p class="text-center">Iteração com Ng FOR</p>
  <ul class="list-group mx-auto my-3 col-3">
    <li class="list-group-item" *ngFor="let dado of pessoas">
      O nome da pessoa é {{dado.firstName}} {{dado.lastName}} e ela tem a idade {{dado.age}}.
    </li>
  </ul> 
-->

<br> <br>
  <!-- Ng FOR (Por baixo dos panos) -->
  <p class="text-center">Iteração com Ng FOR (funcionamento por baixo dos panos)</p>
  <ul class="list-group mx-auto my-3 col-3 ">
    <ng-template ngFor let-dado [ngForOf]="pessoas">
      <li class="list-group-item text-center">
        O nome da pessoa é {{dado.firstName}} {{dado.lastName}} e ela tem a idade {{dado.age}}.
      </li>
    </ng-template>
  </ul>

<!-- Data Binding -->
  <!-- One Way Data Binding: Comunicação TypeScript -> Template -->
  <div class="col-4 mx-auto my-3">
    <h3 appMarcaTexto corDeFundo="blue" corDoTexto="black">{{nome}}</h3>
    <button class="btn btn-success col-4 mx-auto"
    (click)="clicou(nome)">Clique</button>
  </div>
  

  <!-- Two Way Data Binding -->
  <div class="col-4 mx-auto my-3">
    <input type="text" class="form-control" placeholder="Digite alguma coisa..."
    [(ngModel)]="text">
    <h4>Saída: {{text}}</h4>
  </div>