<div class="form-group">
    <label for="number">Number:</label>
    <input type="text" [(ngModel)]="number" class="form-control" id="number">
    <button class="btn btn-success" (click)="mudaValor()">Clique</button>
</div>

<div class="">
    <p>{{ text | uppercase }}</p>
<br>
    <p><b>Formatação numérica</b></p>
    <p>Sem formatação: </p>
    <p>{{ number | number }}</p>
<br>
    <p>Com formatação: </p>
    <p>{{ number | number:'2.0-1' }}</p>
<br>
   <p>Resultado em moeda: </p>
   <p>{{ number | currency:'BRL' }}</p>
<br>
   <p>Resultado em porcentagem: </p>
   <p>{{ number | percent }}</p>
<br>
   <p><b>Datas:</b> </p>
   <p>{{ date }}</p>
   <p>{{ date | date }}</p>
   <p>{{ date | date:'full' }}</p>
   <p>{{ date | date:'shortTime' }}</p>
   <p>{{ date | date:'short':'pt' }}</p>
   <p>{{ date | date:'dd/MMM/yyy':'pt' }}</p>

<br>
   <p><b>Pipe JSON:</b></p>
   <p>{{ pessoa | json }}</p>
<br>
   <p><b>Pipe Slice:</b></p>
   <p>{{ text | slice:1:4 }}</p>
</div>

<div class="container">
    <div class="col">
        <div class="row-6">
            <div class="form-group">
                <label for="text">Print Pipe Test: </label>
                <input type="text" name="text" id="text" #nome>
                <button class="btn btn-primary" (click)="add(nome.value)">add</button>
            </div>
        </div>
        <div class="row-6">
            <h3>Lista formatada</h3>
            <p>Tamanho da lista {{ nomes.length }}</p>
            <p>{{ nomes | printList }}</p>
        </div>
    </div>
</div>
