@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

body {
	background-color: #e5e8e8;
	color: #4e545c;
	margin: 0;
	font-family: 'Quicksand';
}

body.darkModeClass {
	background-color: #000401;
	color: #e5e8e8;
}

main {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

footer {
	width: 100%;
	background-color: #4e545c;
	padding: 16px;
	color: #e5e8e8;
	position: fixed;
	bottom: 0;
	text-align: center;
	font-weight: 400;
}

footer.darkModeClass {
	background-color: #8d9797;
	color: #000401;
}

button {
	border-radius: 40px;
	font-size: 1.5rem;
	height: 60px;
	width: 200px;
	border: none;
	background-color: #4e545c;
	color: #e5e8e8;
	transition: all 0.5s linear;
}

button:hover {
	background-color: #000401;
}

button.darkModeClass {
	background-color: #e5e8e8;
	color: #4e545c;
}

button.darkModeClass:hover {
	background-color: #4e545c;
	color: #e5e8e8;
}