body{
    background-color: #a6a8a7;
}

.textred{
    color: red;
}

.um{
    color: blue
}

.dois{
    color: blueviolet;
}

.tres{
    color: brown;
}

.quatro{
    color: chocolate;
}

.seis{
    color: chartreuse;
}